.form-list-quiz {
    // border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 100vh;
    margin:80px 0;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    // background: rgb(230, 245, 246);
}